body{
    background-color: #070a13;
}
/* Header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 10%;
    width: 100%; /* Full-width header */
    background-color: #1a202c; /* Match background color of the page */
    color: white; /* Match text color */
    z-index: 30; /* Ensure it stays on top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

.home-section{
    margin-top: 50%;
    margin-bottom: 50%;
}
